@use '../helpers' as *;

.contacts-card {
  display: grid;
  row-gap: fluid(50, 20);
  padding-block: fluid(80, 20);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: rem(15);

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      padding-left: rem(50);
    }
  }

  &__title {
    font-weight: 500;
  }

  &__link {
    padding: rem(18) rem(24);

    @include laptop {
      padding: rem(14) rem(20);
    }
  }
}